@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cuprum-bold-webfont.eot");
  src: url("../fonts/cuprum-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-bold-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-bold-webfont.woff") format("woff"),
  url("../fonts/cuprum-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Cuprum";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cuprum-bolditalic-webfont.eot");
  src: url("../fonts/cuprum-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-bolditalic-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-bolditalic-webfont.woff") format("woff"),
  url("../fonts/cuprum-bolditalic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cuprum-italic-webfont.eot");
  src: url("../fonts/cuprum-italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-italic-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-italic-webfont.woff") format("woff"),
  url("../fonts/cuprum-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Cuprum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cuprum-regular-webfont.eot");
  src: url("../fonts/cuprum-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cuprum-regular-webfont.woff2") format("woff2"),
  url("../fonts/cuprum-regular-webfont.woff") format("woff"),
  url("../fonts/cuprum-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pts55f-webfont.eot");
  src: url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pts55f-webfont.woff2") format("woff2"),
  url("../fonts/pts55f-webfont.woff") format("woff"),
  url("../fonts/pts55f-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/pts56f-webfont.eot");
  src: url("../fonts/pts56f-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pts56f-webfont.woff2") format("woff2"),
  url("../fonts/pts56f-webfont.woff") format("woff"),
  url("../fonts/pts56f-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/pts75f-webfont.eot");
  src: url("../fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pts75f-webfont.woff2") format("woff2"),
  url("../fonts/pts75f-webfont.woff") format("woff"),
  url("../fonts/pts75f-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/pts76f-webfont.eot");
  src: url("../fonts/pts76f-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pts76f-webfont.woff2") format("woff2"),
  url("../fonts/pts76f-webfont.woff") format("woff"),
  url("../fonts/pts76f-webfont.ttf") format("truetype");
}
