.article {
  padding-top: 80px;
  padding-bottom: 86px;
}

.article--cyan-bg {
  padding-top: 65px;

  background-color: #f2f6f8;
}

.article--bottom-0 {
  padding-bottom: 0;
}

.article--bottom-46 {
  padding-bottom: 46px;
}

.article--left {
  float: left;
}

.article--right {
  float: right;
}


.article--wide {
  width: 620px;
}

.article--narrow {
  width: 300px;
}

.article__title {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  text-transform: uppercase;
}
