.btn {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 38px;

  display: block;

  height: 38px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn--section__title {
  position: absolute;
  top: 26px;
  right: 24px;

  width: 253px;
}

.btn--filter {
  font-family: "PT Sans", "Arial Narrow", sans-serif;
  font-size: 13px;
  line-height: 32px;

  width: 138px;
  height: 36px;
  margin-top: 60px;

  color: #000000;
  border: 1px solid #e5e5e5;
  outline: none;
  background-color: #ffffff;
}

.btn--filter:hover {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.btn--filter:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.btn--page {
  font-family: "PT Sans", "Arial Narrow", sans-serif;
  font-size: 13px;

  width: 38px;
  margin-right: 10px;
}

.btn--page:hover,
.btn--page:active {
  background-color: #ee3643;
}

.btn--page-link {
  line-height: 36px;

  width: 36px;
  height: 36px;

  color: #000000;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.btn--page-link:hover {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.btn--page-link:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.btn--next-page {
  width: 138px;
}

.btn--category {
  width: 135px;
  margin-left: 25px;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn--category:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn--category:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn--slider {
  position: absolute;
  z-index: 5;
  bottom: 22px;
  left: 25px;

  width: 195px;
}

.btn--buy,
.btn--bookmark {
  position: relative;

  width: 135px;
  margin: 0 auto 7px;
  padding: 0;

  outline: none;
  background-color: #63a63e;
}

.btn--buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.btn--bookmark {
  line-height: 32px;

  width: 129px;
  height: 32px;

  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}

.btn--buy::before {
  position: absolute;
  top: 10px;
  left: 10px;

  display: block;

  width: 17px;
  height: 16px;

  content: "";

  opacity: 0.3;
  background-image: url("../img/sprite-icons.png");
  background-position: -5px -31px;
}

.btn--buy:hover::before,
.btn--buy:active::before {
  opacity: 1;
}

.btn--buy:hover {
  background-color: #5fbb2d;
}

.btn--buy:active {
  background-color: #518534;
}

.btn--bookmark:hover {
  border-color: #32425c;
  background-color: #ffffff;
}

.btn--bookmark:active {
  opacity: 0.5;
  border-color: #32425c;
  background-color: #ffffff;
}

.btn--about {
  width: 220px;
}

.btn--mail {
  width: 300px;
}

.btn--credit {
  width: 195px;
  margin-top: 20px;
}


//////////////// FIXME //////////////////

.order-btn {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 17px;
  line-height: 43px;

  padding: 0 20px;

  text-decoration: none;

  color: #ffffff;
  background-color: #63a63e;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active {
  background-color: #518534;
}



//////////////// FIXME //////////////////

.auth-btn {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 21px;
  line-height: 45px;

  display: inline-block;

  margin-left: 10px;

  vertical-align: middle;
  text-decoration: none;

  color: #000000;
  background-color: #ffffff;
}

.auth-btn:hover {
  color: #ee3643;
}

.auth-btn:active {
  color: #cacaca;
}

.auth-btn--reg {
  padding: 0 23px;
}

.auth-btn--login {
  position: relative;

  padding-right: 27px;
  padding-left: 47px;
}

.auth-btn--login::before {
  position: absolute;
  top: 13px;
  left: 12px;

  display: block;

  width: 20px;
  height: 17px;

  content: "";

  background-image: url("../img/sprite-icons.png");
  background-position: -5px -228px;
}

.auth-btn--login:hover::before {
  background-position: -5px -255px;
}

.auth-btn--login:active::before {
  background-position: -5px -228px;
}

.auth-btn--user {
  position: relative;

  display: inline-block;

  width: 212px;
  padding-left: 48px;

  vertical-align: middle;
}

.auth-btn--user:hover {
  color: #000000;
}

.auth-btn--user:active {
  color: #cacaca;
}

.auth-btn--user::before {
  position: absolute;
  top: 13px;
  left: 12px;

  display: block;

  width: 20px;
  height: 18px;

  content: "";

  background-image: url("../img/sprite-icons.png");
  background-position: -5px -539px;
}

.auth-btn--user:hover::before {
  background-position: -5px -567px;
}

.auth-btn--user:active::before {
  background-position: -5px -539px;
}

.auth-btn--logout {
  display: inline-block;

  margin-left: 0;
  padding: 0 10px;

  vertical-align: middle;
}

.auth-btn--logout::before {
  display: inline-block;

  width: 21px;
  height: 17px;

  content: "";
  vertical-align: middle;

  background-image: url("../img/sprite-icons.png");
  background-position: -5px -282px;
}

.auth-btn--logout:hover::before {
  background-position: -5px -309px;
}

.auth-btn--logout:active::before {
  background-position: -5px -282px;
}
