.contacts {
  float: left;
  margin-top: 45px;
  margin-left: 70px;

  &__phone {
    position: relative;
    width: 192px;
    height: 40px;
    padding-left: 73px;
    border: solid 3px #ffffff;
  }

  &__phone-number {
    font-family: @alt-font-family;
    font-size: 21px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: #ee3643;

    &::before {
      position: absolute;
      top: 10px;
      left: 12px;
      display: block;
      width: 19px;
      height: 19px;
      content: "";
      background-image: url("../img/sprite-icons.png");
      background-repeat: no-repeat;
      background-position: -5px -336px;
    }
  }

  &__address {
    font-family: @alt-font-family;
    font-size: 14px;
    line-height: 29px;
    display: block;
    text-align: center;
    color: #32425c;
  }
}
