.fieldset {
  .reset-block();
  border: none;

  &--range {
    border-bottom: 1px solid #e5e5e5;
    width: 220px;
    margin-top: -5px;
    padding-bottom: 27px;
  }

  &--check {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 21px;
  }

  &--radio {
    margin-top: 21px;
  }

  &__list {
    .reset-list();
    margin-top: 16px;
  }

  &__item {
    font-family: @base-font-family;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__title {
    font-family: @base-font-family;
    font-size: 17px;
    font-weight: bold;
    margin-left: -3px;
    text-transform: uppercase;
  }

  &__input {
    display: none;
  }

  &__input--check:checked + &__label--check::before {
    width: 27px;
    height: 23px;
    background-position: -5px -90px;
  }

  &__input--radio:checked + &__label--radio::before {
    background-position: -5px -400px;
  }

  &__input:disabled + &__label,
  &__input:disabled + &__label:hover,
  &__input:disabled + &__label::before,
  &__input:disabled + &__label:hover::before {
    opacity: 1;
    opacity: 0.4;
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 35px;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      display: block;
      content: "";
      opacity: 0.7;
      background: url("../img/sprite-icons.png") no-repeat;
    }

    &:hover::before {
      opacity: 1;
    }

    &--check::before {
      width: 23px;
      height: 23px;
      background-position: -5px -57px;
    }

    &--radio::before {
      width: 25px;
      height: 25px;
      background-position: -5px -365px;
    }
  }
}
