.logo {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 24px;
  font-weight: bold;

  display: block;

  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo--header {
  line-height: 43px;

  float: left;
}

.logo--footer {
  font-size: 30px;
  line-height: 63px;

  height: 63px;
  margin-bottom: 32px;
}

.logo--header:hover {
  background-color: #ca2c37;
}

.logo--header:active {
  background-color: #ba2732;
}

.logo__link,
.logo__text {
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
}
