.order-info {
  float: right;
  font-size: 0;

  &__list {
    .reset-list();
    .inline-block();
    font-size: 0;
  }

  &__item {
    .inline-block();
    font-family: @alt-font-family;
    font-size: 17px;
    line-height: 43px;
    position: relative;
    width: 106px;
    padding-left: 44px;

    &--not-empty {
      background-color: #ee3643;
    }

    &:hover {
      background-color: #212a3a;
    }

    &:active {
      opacity: 0.5;
      background-color: #161d29;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #ffffff;

    &::before {
      position: absolute;
      top: 12px;
      left: 16px;
      display: block;
      content: "";
      opacity: 0.3;
      background-image: url("../img/sprite-icons.png");
      background-repeat: no-repeat;
    }

    &:hover::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 1;
    }

    &--bookmarks::before {
      width: 14px;
      height: 16px;
      background-position: -5px -5px;
    }

    &--cart::before {
      width: 17px;
      height: 16px;
      background-position: -5px -31px;
    }
  }
}
