.personal {
  .reset-list();
  display: block;
  margin-top: 8px;
  margin-left: 27px;

  &__item {
    .inline-block();
    position: relative;
    padding-left: 33px;

    &::before {
      position: absolute;
      top: 8px;
      left: 15px;
      display: block;
      width: 2px;
      height: 2px;
      content: "";
      border: solid 1px #32425c;
      border-radius: 2px;
      background-color: #32425c;
    }

    &:first-child {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &__link {
    font-family: @alt-font-family;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    &:hover {
      color: #ee3643;
    }

    &:active {
      color: #cacaca;
    }
  }
}
