.search {
  position: relative;
  float: left;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 43px;

    &::before {
      position: absolute;
      top: 12px;
      left: 15px;
      display: block;
      width: 18px;
      height: 18px;
      content: "";
      opacity: 0.3;
      background-image: url("../img/sprite-icons.png");
      background-repeat: no-repeat;
      background-position: -5px -485px;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__input {
    font-family: @alt-font-family;
    font-size: 17px;
    position: relative;
    z-index: 5;
    width: 200px;
    margin-top: 10px;
    margin-left: 47px;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #293449;

    &::-webkit-input-placeholder {
      color: #ffffff;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #ffffff;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffffff;
    }

    &:-ms-input-placeholder {
      color: #ffffff;
    }

    &:focus {
      color: #000000;
      background-color: #ffffff;
    }

    &:focus + .search__label {
      background: #ffffff;
    }

    &:focus + .search__label::before {
      opacity: 1;
      background-position: -5px -512px;
    }

    &:focus::-webkit-input-placeholder {
      color: #000000;
    }
    &:focus:-moz-placeholder {
      /* Firefox 18- */
      color: #000000;
    }
    &:focus::-moz-placeholder {
      /* Firefox 19+ */
      color: #000000;
    }
    &:focus:-ms-input-placeholder {
      color: #000000;
    }
  }
}
