.section__title-wrapper {
  position: relative;

  margin-bottom: 20px;
}

.section__title {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 90px;

  min-height: 90px;
  margin: 0;
  padding: 0;
  padding-left: 28px;

  text-transform: uppercase;

  color: #32425c;
}

.section__title--cyan-bg {
  background-color: #f2f6f8;
}

.section__title--beige-bg {
  position: relative;

  background-color: #f7f3ec;
}
