.slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  background-color: #293449;

  &__input {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    opacity: 0;

    &--1 {
      &:checked ~ .slide--1 {
        display: block;
      }

      &:checked ~ .slider__control-block .slider__button--1 {
        cursor: inherit;
        background-color: #ee3643;
      }

      &:checked ~ .slider__link-prev {
        cursor: inherit;
        opacity: 0;
      }
    }

    &--2 {
      left: 30px;
      &:checked ~ .slide--2 {
        display: block;
      }

      &:checked ~ .slider__control-block .slider__button--2 {
        cursor: inherit;
        background-color: #ee3643;
      }

      &:checked ~ .slider__link-next {
        cursor: inherit;
        opacity: 0;
      }
    }
  }

  &__link-prev {
    .slider-link();
    left: 25px;
    background-position: -5px -178px;
  }

  &__link-next {
    .slider-link();
    right: 19px;
    background-position: 12px -435px;
  }

  &__control-block {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__button {
    .inline-block();
    width: 6px;
    height: 6px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
  }
}
