.sort {
  .column-header();

  &__title {
    float: left;
  }

  &__flag-block {
    float: right;
    margin-right: 6px;
    margin-left: 32px;
  }

  &__flag-link {
    font-size: 22px;
    text-decoration: none;
    color: #b2b2b2;

    &:hover {
      color: #000000;
    }

    &--active {
      color: #ee3643;

      &:hover {
        color: #ee3643;
      }
    }
  }

  &__list {
    .reset-list();
    float: right;
  }

  &__item {
    .inline-block();
    margin-left: 62px;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      color: #ee3643;
    }
  }

  &__link {
    text-decoration: none;
    color: #b2b2b2;
    border-bottom: 1px dotted #ee3643;

    &:hover {
      text-decoration: none;
      color: #000000;
      border-bottom: 1px solid #ee3643;
    }
  }
}
